<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/bundle.css">
    <script src="/assets/bundle.js"></script>
  </head>
  <body>
    <header>
      <hr class="border__top">
      <p>Header content</p>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer>
      <p>Copyright © 2026 Thuba Nguyen for Coon Rapids Mayor Committee
      <hr class="border__bottom">
    </footer>
  </body>
</html>
