<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Thuba for Coon Rapids 2026</title>
    <link rel="stylesheet" href="/assets/bundle.css">
    <script src="/assets/bundle.js"></script>
    <meta name="description" content="{{ description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body>
    <header>
      <hr>
      <nav>
        <ul>
          <li><a aria-current="{{ "page" if page.url == "/" }}" href="/">Home</a></li>
          <li><a aria-current="{{ "page" if page.url == "/priorities/" }}" href="/priorities/">Priorities</a></li>
          <li><a aria-current="{{ "page" if page.url == "/about/" }}" href="/about"/>About</a></li>
          <!-- <li><a aria-current="{{ "page" if page.url == "/endorsements/" }}" href="/endorsements/">Endorsements</a></li> -->
          <li><a aria-current="{{ "page" if page.url == "/contact/" }}" href="/contact/">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="wrapper">
        {{ content | safe }}
      </div>
    </main>

    <footer>
      <p>Copyright © 2026 Thuba Nguyen for Coon Rapids Mayor Committee</p>
      <hr class="border__bottom">
    </footer>
  </body>
</html>
