<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# title -#}
    <title>{{ title }} | Thuba for Coon Rapids 2026</title>
    <meta property="og:title" content="{{ title }} | Thuba for Coon Rapids 2026">
    {# description -#}
    <meta name="description" content="{{ description }}">
    <meta property="og:description" content="{{ description }}">

    {# embed image -#}
    {% if page.image -%}
    {# TODO: Implement processing at build time to get reasonably sized versions, based on https://tjaddison.com/blog/2022/08/processing-images-linked-from-frontmatter-with-eleventy-img-to-use-in-meta-tags/ #}
    <meta property="og:image" value="{{ page.image }}">
    {% endif -%}

    <meta name="generator" content="{{ eleventy.generator }}">

    <link rel="stylesheet" href="/assets/bundle.css">
    {# <script src="/assets/bundle.js"></script> #}
  </head>
  <body>
    <header>
      <hr>
      <nav>
        <ul>
          <li><a aria-current="{{ "page" if page.url == "/" }}" href="/">Home</a></li>
          <li><a aria-current="{{ "page" if page.url == "/priorities/" }}" href="/priorities/">Priorities</a></li>
          <li><a aria-current="{{ "page" if page.url == "/about/" }}" href="/about"/>About</a></li>
          <li><a aria-current="{{ "page" if page.url == "/yard-signs/" }}" href="/yard-signs"/>Yard Signs</a></li>
          <li><a aria-current="{{ "page" if page.url == "/endorsements/" }}" href="/endorsements/">Endorsements</a></li>
          <li><a aria-current="{{ "page" if page.url == "/contact/" }}" href="/contact/">Contact</a></li>
          <li><a href="{{ contact.actblue }}" target="_blank" class="cta">Donate</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div id="wrapper">
        {{ content | safe }}
      </div>
    </main>

    <footer>
      <p>Copyright © 2026 Thuba Nguyen for Coon Rapids Mayor Committee</p>
      <hr class="border__bottom">
    </footer>
  </body>
</html>
