:root {
  --base-font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto, helvetica, arial, sans-serif;
  --base-font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

  --base-color-black: #171717;
  --base-color-green-jewel: #0f6838;
  --base-color-green-lime: #85c245;
  --base-color-pink: #bd0071;
  --base-color-red: #ff604a;
  --base-color-white: #fbfafa;

  --theme-font-display: var(--base-font-sans);
  --theme-font-heading: var(--base-font-serif);
}

@view-transition {
  navigation: auto;
}

html {
  font-family: var(--theme-font-display);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

hr.border__top {
  border-top: 1rem solid var(--base-color-green-lime);
  border-bottom: 1rem solid var(--base-color-green-jewel);
  margin: 0;
}

hr.border__bottom {
  border-top: 1rem solid var(--base-color-red);
  border-bottom: 1rem solid var(--base-color-pink);
  margin: 0;
}
