---
layout: layout
title: About Thuba
description: Learn more about Thuba Nguyen’s experience that will make her an excellent mayor.
---

<p>
Thuba Nguyen (<span class="pronunciation">Too-ba Win</span>) was born in Vietnam and immigrated to the United States in 1991 with her parents and older sister under the Amerasian Homecoming Act.
Thuba grew up in Sioux Falls, South Dakota before moving to Minnesota to pursue her higher education.
Thuba laid down roots in Coon Rapids with her husband, Mario and their two dogs in 2019.
</p>

<p>
She is a children’s book author and an Early Childhood Education Specialist with over two decades of experience as a leader in building stronger communities through shared values.
She holds an Associate of Applied Science in Early Childhood Education with a specialization in Special Needs, as well as a Bachelor’s degree in Early Childhood Education Leadership.
As a distinguished alumna of Rasmussen University, Thuba has worked as a center director for an early childhood learning center and as an instructional and curriculum designer.
Through her work at the Child Development Laboratory School at the University of Minnesota, Thuba has been an undeniable leader, making an influential and lasting impact on the field of early education for our youngest scholars.
</p>

<p>
Using her book as a resource and literacy tool, she has traveled across the country reading to children and families from diverse backgrounds, particularly multilingual and ESL families.
Thuba is passionate about promoting early literacy development for all young learners and working to ensure every student gets every chance to read quality children’s books that reflect their lived experiences, allowing them to live vicariously through new characters and stories.
</p>

<p>
Since 2023, Thuba has served as a communications specialist for the Minnesota House of Representatives, playing a central role in conveying key priorities and transformative legislation to the public.
Through this role, she has gained firsthand experience with the legislative process and regularly collaborates with a diverse range of stakeholders on complex issues to improve the lives of Minnesotans.
Thuba deeply understands the concerns of working families and is ready to partner with Coon Rapids residents—listening to their priorities and championing a vision for a safe, prosperous, and connected city for generations to come.
</p>

<section class="gallery">
  <img src="/images/candid-a.jpg" eleventy:widths="395" alt="Thuba laughing in conversation with another woman">
  <img src="/images/birthing-summit.jpg" eleventy:widths="395" alt="Thuba posing with legislators at the Black & Brown Birthing Summit.">
  <img src="/images/graduate.jpg" eleventy:widths="395" alt="Thuba attending her college graduation, wearing her graduation robes with other students">
  <img src="/images/candid-b.jpg" eleventy:widths="395" alt="Thuba drinking coffee in a group">
  <img src="/images/rotunda-group.jpg" eleventy:widths="395" alt="Thuba in a group selfie at the Capital Rotunda with colleagues at the state legislature.">
  <img src="/images/storytime.jpg" eleventy:widths="395" alt="Thuba reading her book to children in a classroom">
  <img src="/images/gavel.jpg" eleventy:widths="395" alt="Thuba holding the gavel at Melissa Hortman's Speaker desk.">
  <img src="/images/kids-selfie.jpg" eleventy:widths="395" alt="Thuba and a group of students in a selfie, smiling and throwing peace signs">
</section>

{% include "priority-teasers.njk" %}
