---
layout: layout
title: Endorsements
description: Thuba Nguyen has endorsements from many of Coon Rapids’ and Minnesota's finest people.
---

<p>
Community organizers, business leaders, legislators, and other elected officials agree that Thuba Nguyen is the right choice for mayor!
</p>

<section class="gallery">
  <img src="images/endorsements-aisha-gomez.png" eleventy:widths="395" alt="State Represenative Aisha Gomez endorses Thuba">
  <img src="images/endorsements-anquam-mahamoud.png" eleventy:widths="395" alt="State Representative Anquam Mahamoud endorses Thuba">
  <img src="images/endorsements-athena-hollins.png" eleventy:widths="395" alt="State Representative Athena Hollins endorses Thuba">
  <img src="images/endorsements-brion-curran.png" eleventy:widths="395" alt="State Representative Brion Curran endorses Thuba">
  <img src="images/endorsements-cedrick-frazier.png" eleventy:widths="395" alt="State Representative Cedrick Frazier endorses Thuba">
  <img src="images/endorsements-dave-pinto.png" eleventy:widths="395" alt="State Representative Dave Pinto endorses Thuba">
  <img src="images/endorsements-dieu-do.png" eleventy:widths="395" alt="Community Organizer Dieu Do endorses Thuba">
  <img src="images/endorsements-edrence-yalley.png" eleventy:widths="395" alt="Coon Rapids resident Edrence Yalley endorses Thuba">
  <img src="images/endorsements-eric-harris-bernstein.png" eleventy:widths="395" alt="Board of Estimate member Eric Harris endorses Thuba">
  <img src="images/endorsements-esther-agbaje.png" eleventy:widths="395" alt="State Represenative Esther Agbaje endorses Thuba">
  <img src="images/endorsements-frank-hornstein.png" eleventy:widths="395" alt="Former State Represenative Frank Hornstein endorses Thuba">
  <img src="images/endorsements-hodan-hassan.png" eleventy:widths="395" alt="Former State Represenative Hodan Hassan endorses Thuba">
  <img src="images/endorsements-huldah-hiltsley.png" eleventy:widths="395" alt="State Represenative Huldah Hiltsley endorses Thuba">
  <img src="images/endorsements-hunter-cantrell.png" eleventy:widths="395" alt="Former State Represenative Hunter Cantrell endorses Thuba">
  <img src="images/endorsements-jay-xiong.png" eleventy:widths="395" alt="State Represenative Jay Xiong endorses Thuba">
  <img src="images/endorsements-kat-rohn.png" eleventy:widths="395" alt="Community Organizer Kat Rohn endorses Thuba">
  <img src="images/endorsements-leigh-finke.png" eleventy:widths="395" alt="State Represenative Leigh Finke endorses Thuba">
  <img src="images/endorsements-liish-kozlowski.png" eleventy:widths="395" alt="State Represenative Liish Kozlowski endorses Thuba">
  <img src="images/endorsements-lindsey-port.png" eleventy:widths="395" alt="State Senator Lindsey Port endorses Thuba">
  <img src="images/endorsements-liz-lee.png" eleventy:widths="395" alt="State Represenative Liz Lee endorses Thuba">
  <img src="images/endorsements-maria-isa-perez-vega.png" eleventy:widths="395" alt="State Represenative María Isa Pérez-Vega endorses Thuba">
  <img src="images/endorsements-mary-clardy.png" eleventy:widths="395" alt="State Represenative Mary Clardy endorses Thuba">
  <img src="images/endorsements-matt-norris.png" eleventy:widths="395" alt="State Represenative Matt Norris endorses Thuba">
  <img src="images/endorsements-mohamud-noor.png" eleventy:widths="395" alt="State Represenative Mohamud Noor endorses Thuba">
  <img src="images/endorsements-sam-sencer-mura.png" eleventy:widths="395" alt="State Represenative Sam Sencer Mura endorses Thuba">
  <img src="images/endorsements-samakab-hussein.png" eleventy:widths="395" alt="State Represenative Samakab Hussein endorses Thuba">
  <img src="images/endorsements-samantha-vang.png" eleventy:widths="395" alt="State Represenative Samantha Vang endorses Thuba">
  <img src="images/endorsements-sean-lim.png" eleventy:widths="395" alt="Community Organizer Sean Lim endorses Thuba">
  <img src="images/endorsements-sean-lim.png" eleventy:widths="395" alt="Vy endorses Thuba">
  <img src="images/endorsements-shannon-gibney.png" eleventy:widths="395" alt="Minneapolis School Board candidate Shannon Gibney endorses Thuba">
  <img src="images/endorsements-shelley-buck.png" eleventy:widths="395" alt="State Representative Shelley Buck endorses Thuba">
  <img src="images/endorsements-tom-olsen.png" eleventy:widths="395" alt="Minneapolis Park Board president Tom Olsen endorses Thuba">
  <img src="images/endorsements-xp-lee.png" eleventy:widths="395" alt="State Represenative Xp Lee endorses Thuba">
</section>
