---
layout: layout
title: Homepage!
---

<blockquote>
  <p>
  I’m ready to lead Coon Rapids with common sense and compassion.
  </p>

  <p>
  Let’s get to work!
  </p>
</blockquote>

<article>
  <h3>Dear Neighbor,</h3>

  <p>
  My name is Thuba Nguyen (Too-ba Win).
  I am a dedicated early childhood education specialist, published author, multi-faceted legislative staffer and community leader with over two decades of leadership and community advocacy.
  I’m running to build a vibrant, inclusive, and forward-thinking future for all residents of Coon Rapids.
  </p>

  <p>
  Coon Rapids needs a breath of fresh air in the Mayor’s office.
  We need leadership that is authentic, promotes unity, and is willing to stand up for all our neighbors.
  Our community deserves to live in peace, enjoy the fruits of their labor, and raise their families without the fear of violence and divisive theology.
  We need leadership that is grounded in common-sense, leading with compassion and integrity.
  </p>

  <p>
  We don’t need any more career politicians and partisan politics tearing us apart.
  Let’s get back to what matters: how our roads function, investing in our schools, and taking care of our parks &amp; city amenities so every resident can enjoy them and thrive in our city, together.
  </p>

  <p>
  I am running for Mayor to ensure that every family, student, neighbor, and small business has the support and resources they need to thrive.
  </p>
</article>

<section>
  <h2>Key priorities</h2>

  <details>
    <summary>
      Education: Invest in Schools
    </summary>
    <ul>
      <li>Wrap around service for prenatal, early education, through pre-k until Kindergarten transition.</li>
      <li>Family services, parent development.</li>
      <li>Early literacy services with the Anoka County Public Library system.</li>
      <li>Students‘ rights for intellectual freedom.</li>
    </ul>
  </details>

  <details>
    <summary>
      Ensuring Safe Communities
    </summary>
    <ul>
      <li>Support law enforcement and public safety initiatives.</li>
      <li>Invest in after-school and before-school programs for youth.</li>
      <li>City-led job shadowing, learn on the go.</li>
      <li>City partner with Anoka-Ramsey Community College for job placément; youth programming.</li>
    </ul>
  </details>

  <details>
    <summary>
      Housing Affordability
    </summary>
    <ul>
      <li>Fiscally responsible policy that puts residents central to decision-making.</li>
      <li>Lower property taxes.</li>
      <li>Support renter protections.</li>
      <li>New housing investments.</li>
      <li>Equitable zoning.</li>
    </ul>
  </details>

  <details>
    <summary>
      Economic Opportunities
    </summary>
    <ul>
      <li>Economic development.</li>
      <li>Make sure we remain competitive with Anoka and Blaine.</li>
      <li>Business friendly environment for small businesses and entrepreneurs.</li>
      <li>Establish a social/entertainment district on Main Street.</li>
      <li>Downtown Commercial (C-D) Zoning District Establishment.</li>
      <li>Grow our local economy and support small local business.</li>
      <li>More spaces for farmers markets.</li>
    </ul>
  </details>

  <details>
    <summary>
      Health and Human Services: Caring for Our Communities
    </summary>
    <ul>
      <li>Treating our veterans and service members with dignity.</li>
      <li>Strengthen the integrity of programs and services our neighbors rely on.</li>
      <li>ensure our elders and people with intellectual and physical disabilities living in group homes are having their needs met.</li>
      <li>Programs have the tools and funding they need to serve their clients.</li>
      <li>Families have transitional care support or guidance.</li>
      <li>Closer city partnerships &amp; relationships.</li>
      <li>More senior/elder events/gatherings.</li>
    </ul>
  </details>

  <details>
    <summary>
      Arts and Cultural Legacy
    </summary>
    <ul>
      <li>Invest in cultural celebrations that bring our diverse communities together.</li>
      <li>Enhance Coon Rapids Arts Commission programming.</li>
      <li>Cultivate a New Era of Arts, Music, and Vitality in Coon Rapids.</li>
    </ul>
  </details>

</section>
