---
layout: layout
title: Home
description: Thuba Nguyen is running for mayor of Coon Rapids with a bold vision for our future.
---

<blockquote>
  <p>
  Coon Rapids is ready for a breath of fresh air in the mayor’s office.
  We need leadership that is authentic, promotes unity, and is willing to stand up for all our neighbors.
  </p>

  <p>
  Together, we can build a stronger and more vibrant community grounded in our shared humanity and treating each other with dignity.
  Let’s get back to what matters: how our roads function, investing in our schools, and taking care of our parks and city amenities so every resident can enjoy them and thrive in our city, together.
  </p>

  <p class="credit">—Thuba Nguyen (<span class="pronunciation">Too-ba Win</span>)</p>
</blockquote>

<article>
  <p>
  Highlight of priorities with links to that page for more detail.
  </p>
</article>
