---
layout: layout
title: Home
description: Thuba Nguyen is running for mayor of Coon Rapids with a bold vision for our future.
---

<section class="hero">
  <blockquote>
    <p>
    My name is Thuba Nguyen and I am a dedicated early childhood education specialist, published children’s book author, and community leader.
    </p>

    <p>
    I am running for Mayor to ensure that every family, student, neighbor, and small business has the support and resources they need to thrive.
    Coon Rapids is a wonderful community and deserves common-sense leadership grounded in compassion and integrity.
    </p>

    <p>
    I believe in a representative democracy that works for everyone.
    My life’s work has been about listening, leading, and creating spaces where people from all walks of life can succeed.
    I am eager to bring that same dedication, collaborative spirit, and fresh perspective to City Hall.
    </p>

    <p>
    As your next Mayor I am committed to building a vibrant, inclusive, and forward-thinking future for all residents of Coon Rapids.
    </p>
  </blockquote>

  <img
      src="/images/hero.jpg"
      alt="Photo of Thuba Nguyen standing in front of the Minnesota capitol building"
      eleventy:widths="300"
      >
</section>

<section class="priority_teasers">
  <h2 class="span-all">Priorities</h2>
  {% for priority in priorities %}
  <article class="priority_teaser priority_teaser-{{ priority.slug }}">
    <h3 class="priority_teaser__heading">{{ priority.title }}</h3>
    <p>
    {{ priority.description }}
    <a href="/priorities#{{ priority.anchor }}" title="Learn more">→</a>
    </p>
  </article>
  {% endfor %}
</section>
