---
layout: layout
title: Priorities
description: Learn Thuba's top priorities as mayor of Coon Rapids.
---

<section>
  <h2>Key priorities</h2>

  <details>
    <summary>
      Education: Invest in Schools
    </summary>
    <ul>
      <li>Wrap around service for prenatal, early education, through pre-k until Kindergarten transition.</li>
      <li>Family services, parent development.</li>
      <li>Early literacy services with the Anoka County Public Library system.</li>
      <li>Students‘ rights for intellectual freedom.</li>
    </ul>
  </details>

  <details>
    <summary>
      Ensuring Safe Communities
    </summary>
    <ul>
      <li>Support law enforcement and public safety initiatives.</li>
      <li>Invest in after-school and before-school programs for youth.</li>
      <li>City-led job shadowing, learn on the go.</li>
      <li>City partner with Anoka-Ramsey Community College for job placément; youth programming.</li>
    </ul>
  </details>

  <details>
    <summary>
      Housing Affordability
    </summary>
    <ul>
      <li>Fiscally responsible policy that puts residents central to decision-making.</li>
      <li>Lower property taxes.</li>
      <li>Support renter protections.</li>
      <li>New housing investments.</li>
      <li>Equitable zoning.</li>
    </ul>
  </details>

  <details>
    <summary>
      Economic Opportunities
    </summary>
    <ul>
      <li>Economic development.</li>
      <li>Make sure we remain competitive with Anoka and Blaine.</li>
      <li>Business friendly environment for small businesses and entrepreneurs.</li>
      <li>Establish a social/entertainment district on Main Street.</li>
      <li>Downtown Commercial (C-D) Zoning District Establishment.</li>
      <li>Grow our local economy and support small local business.</li>
      <li>More spaces for farmers markets.</li>
    </ul>
  </details>

  <details>
    <summary>
      Health and Human Services: Caring for Our Communities
    </summary>
    <ul>
      <li>Treating our veterans and service members with dignity.</li>
      <li>Strengthen the integrity of programs and services our neighbors rely on.</li>
      <li>ensure our elders and people with intellectual and physical disabilities living in group homes are having their needs met.</li>
      <li>Programs have the tools and funding they need to serve their clients.</li>
      <li>Families have transitional care support or guidance.</li>
      <li>Closer city partnerships &amp; relationships.</li>
      <li>More senior/elder events/gatherings.</li>
    </ul>
  </details>

  <details>
    <summary>
      Arts and Cultural Legacy
    </summary>
    <ul>
      <li>Invest in cultural celebrations that bring our diverse communities together.</li>
      <li>Enhance Coon Rapids Arts Commission programming.</li>
      <li>Cultivate a New Era of Arts, Music, and Vitality in Coon Rapids.</li>
    </ul>
  </details>

</section>

