---
layout: layout
title: Priorities
description: Learn Thuba’s top priorities as mayor of Coon Rapids.
---

<section>
  <h2>Key priorities</h2>

  {% for priority in priorities %}
  <article id="{{ priority.anchor }}">
    <h3>{{ priority.title }}: {{ priority.description }}</h3>
    <ul>
      {% for bullet in priority.bullets %}
        {% if bullet is string %}
        <li>{{ bullet }}</li>
        {% else %}
        <ul>
          {% for subBullet in bullet %}
          <li>{{ subBullet }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endfor %}
    </ul>
  </article>
  {% endfor %}

</section>

