---
layout: layout
title: Yard Signs
description: Grab a yard sign to let your neighbors know Thuba Nguyen should be your next mayor.
---

<h2>Want a yard sign?</h2>

<p>
Want to show your support for the campaign?
Reach out to <a href="mailto:{{ contact.email }}">{{ contact.email }}</a> to request one and coordinate delivery.
</p>

<section class="full-image">
  <img src="/images/yard-sign.png" alt="Yard sign that reads 'Thuba Nguyen for Coon Rapids Mayor'" eleventy:widths="800" class="yard-sign">
</section>

